/* ADOBE FONTS - NUNITO 400[NORMAL] 700[BOLD] 900[BLACK]

/* GENERAL STANDARDS */
body {
    font-family: "nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bold {
    font-family: "nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.black {
    font-family: "nunito", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* NAV BAR */
.navbar {
    background-color: #5c4033 !important;
    align-items: center !important;
}

.navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
}

.navbar-brand > img { 
    height: 50px;
    width: 50px
}

.navbar-nav > li {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight:700;
}

.navbar-nav li a{
    color: #fff;
}

.navbar-nav > li a:hover {
    color: #000;
}

#navButton {
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    font-size: 20px;
}

#navButton:hover{
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

/* RECENT VISIT CARD */
.card {
    background-color: #fff8d6;
}

#visitCard {
    display: flex !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
}

.btn-outline-primary {
    color:#5c4033;
    border-color: #5c4033;
    font-size: 15px;
    display: inline-block;
}

.btn-outline-primary:hover {
    color:#fff;
    background-color: #5c4033;
    border-color: #5c4033;
    display: inline-block;
}

#card-date {
    font-size: 20px;
}

.card-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* TABLE */
.table{
    --bs-table-bg: #fff8d6;
}

.table-nonfluid {
    width:94% !important;
    margin-left: auto;
    margin-right: auto;
}

#note {
    height: 260px;
}

/* CONTAINER */
#form {
    background-color: #fff8d6;
    width: 94%;
    padding: 2%;
}

#form-thin {
    background-color: #fff8d6;
    width: 50%;
    padding: 2%;
}

.form-image {
    height: 350px;
    width: 350px;
}


.search-bar {
    --size: 70px;
    --padding: 8px;
    --expanded-width: 600px;
  
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 #d6d9e2;
    border-radius: 100px;
    outline: 1px solid transparent;
    overflow: hidden;
  
    padding: var(--padding);
    margin-inline: auto;
    width: var(--size);
    height: var(--size);
    max-width: 100%;
    transition: width 0.5s, outline 0.5s;
  }
  
  .search-bar:focus-within {
    width: var(--expanded-width);
    outline: 1px solid #2e2e2e;
  }
  
  .search-input {
    font-size: 18px;
    color: #3a3a3a;
    background-color: transparent;
    border: none;
    outline: none;
    margin-inline: 1rem;
    flex: auto;
  
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .search-bar:focus-within .search-input {
    opacity: 1;
  }
  
  .search-submit {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: #3a3a3a;
    border-radius: 50%;
    border: none;
    width: calc(var(--size) - var(--padding) - var(--padding));
    aspect-ratio: 1;
    cursor: pointer;
  }
