/* ADOBE FONTS - NUNITO 400[NORMAL] 700[BOLD] 900[BLACK] */

/* GENERAL STANDARDS */
body {
    font-family: "nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(rgba(255, 255, 255, .75), rgba(255, 255, 255, .75)), url(/images/background.jpeg);
}

.bold {
    font-family: "nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.black {
    font-family: "nunito", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.card {
    background-color: #fff8d6;
    border-radius: 1.25rem;
    margin: 3% 3%;
    border-color: #5c4033;
    border-width: 2px;
    box-shadow: 0 10px 10px 0 #d6d9e2;
}

.card-thin {
    margin: 3% 25%;
}

.card-header {
    background-color: #5c4033;
    color: #fff;
}

.header-text {
    font-family: "nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#fff;
    font-size: 35px;
    margin: 2px;
    padding: 2px;
}

/* NAV BAR */
.navbar {
    background-color: #5c4033 !important;
    align-items: center !important;
}

.navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
}

.navbar-brand>img {
    height: 50px;
    width: 50px
}

.navbar-nav>li {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 700;
}

.navbar-nav li a {
    color: #fff;
}

.navbar-nav>li a:hover {
    color: #000;
}

#navButton {
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    font-size: 20px;
}

#navButton:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}


/* FOOTER */

.footer {
    color:#fff;
    background-color: #5c4033;
}

.footer p {
    margin: 0;
}


/* RECENT VISIT CARD */

#visitCard {
    display: flex !important;
    justify-content: space-around !important;
    flex-wrap: wrap !important;
    max-height:1000px;
    
}

.scroll-cell-visit {
    max-height: 150px;
    overflow-y: auto;
}

.btn-outline-primary {
    color: #5c4033;
    border-color: #5c4033;
    font-size: 15px;
    display: inline-block;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #5c4033;
    border-color: #5c4033;
    display: inline-block;
}

#card-date {
    font-size: 20px;
}

.card-img {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* TABLE */

.table {
    --bs-table-bg: #fff8d6;
}

.table-nonfluid {
    width: 98% !important;
    margin-left: auto;
    margin-right: auto;
}

td {
    max-height: 125px;
}

#note {
    height: 260px;
}

.scroll-cell {
    max-height: inherit;
    overflow-y: auto;
}


/* CONTAINER */

#form {
    background-color: #fff8d6;
    width: 94%;
    padding: 2%;
}

#form-thin {
    background-color: #fff8d6;
    width: 50%;
    padding: 2%;
}

.form-image {
    height: 350px;
    width: 350px;
}


/* ROW */

#dailyMed {
    background-color: #fff8d6;
    width: 94%;
    padding: 2%;
}

#dailymed-header {
    margin: 0;
    padding: 0;
}

.dailymed-coltext {
    font-family: "nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#5c4033;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
}