<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://use.typekit.net/ryy8lbe.css">
</head>

<body>

    <!--STICKY TOP NAV BAR, COLLAPSIBLE-->
    <nav class="navbar sticky-top navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">

            <!--BRANDING + LOGO-->
            <a class="navbar-brand" href="#">
                <img data-th-src="@{/images/logo.png}" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-center rounded-circle" />
                PURIN MEDICAL LOG
            </a>

            <!--BUTTON WHEN COLLAPSE-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--NAVIGATION TO DIFFERENT PAGES (MEDICINE + VISIT)-->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav" id="navbar-items">
                    <li class="nav-item">
                        <a class="nav-link" data-th-href="@{/dashboard/medicine}">MEDICINE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-th-href="@{/dashboard/visit}">VISIT</a>
                    </li>
                    <li class="nav-item">
                        <form method="POST" action="/dashboard/logout">
                            <button type="submit" class="btn btn-outline-primary bold float-end" id="navButton">LOG OUT</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>

    <!-- RECENT DOCTOR VISIT CARD-->
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col-sm-4" id="visitCard" data-th-each="v : ${recentVisit}" data-th-object="${v}">
            <div class="card d-flex justify-margin-around h-100" style="max-width: 25rem;">
                <div class="card-body text-center">
                    <h3 class="card-title black" data-th-text="*{name}"></h3>
                    <img data-th-src="@{/images/doctor.jpeg}" class="card-img rounded-circle border border-3">
                    <p class="card-text bold" id="card-date" data-th-text="*{#dates.format(date, 'dd MM yyyy')}"></p>
                    <p class="card-text bold overflow-auto" data-th-text="*{note}"></p>
                </div>
                <div class="card-footer text-end">
                    <a data-th-href="@{/visit/{UUID}(UUID=*{UUID})}" class="btn btn-outline-primary float-right">EDIT</a>
                </div>
            </div>
        </div>
    </div>

    <br> 
    <br>

    <!-- DOCTOR VISIT TABLE -->
    <div class="table-responsive card">
        <table class="table align-middle rounded table-nonfluid">
            <thead class="table-borderless bold">
                <tr>
                    <td class="col-sm-2">DOCTOR'S NAME</td>
                    <td class="col-sm-2">VISIT DATE</td>
                    <td class="col-sm-6">IMPORTANT NOTES</td>
                    <td class="col-sm-1 text-end">
                        <a data-th-href="@{/visit/add}">
                            <button type="button" class="btn btn-outline-primary float-right">ADD</button>
                        </a>
                    </td>
                    <td class="col-sm-1 text-end">
                        <a data-th-href="@{/export/visit}">
                            <button type="button" class="btn btn-outline-primary float-right">EXPORT</button>
                        </a>
                    </td>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr data-th-each="c : ${visitList}" data-th-object="${c}">
                    <td data-th-text="*{name}"></td>
                    <td data-th-text="*{#dates.format(date, 'dd MMM yyyy')}"></td>
                    <td data-th-text="*{note}"></td>
                    <td class="text-end">
                        <a data-th-href="@{/visit/{UUID}(UUID=*{UUID})}">
                            <button type="button" class="btn btn-outline-primary float-right">EDIT</button>
                        </a>
                    </td>
                    <td class="text-end">
                        <form method="POST" action="/visit/delete">
                            <input type="hidden" name="UUID" data-th-value="*{UUID}">
                            <button type="submit" class="btn btn-outline-primary float-right">DELETE</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- FOOTER -->
    <div class="footer fixed-bottom bg-body-tertiaryr">
        <div class="text-center">
            <p>@All rights reserved, designed and developed by PURIN MEDICAL</p>
        </div>
    </div>

    <!--BOOTSTRAP JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>